<!DOCTYPE html>

<!--We want our app to use the entire page, so we are adding ng-app="Angello" to the html-tag-->
<html ng-app="Angello">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angello Lite</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>

    <!--With the ng-controller directive we instantiate the MainCtrl.
        'as' means we'll reference the MainCtrl as main within the html-file -->

    <!--
        ng-repeat directive goes through every item in the main.stories collection
        and creates a copy of HTML element it was declared on and all of its child elements.
        We can bind to property of the story in collection via {{}}
    -->


    <div ng-controller="MainCtrl as main">
        <div class="col-md-4">
            <h2>Stories</h2>
            <!--We change div for story tag as we defined 'story' directive in app.js-->
            <story class="callout" ng-repeat="story in main.stories" ng-click="main.setCurrentStory(story)">
                <h4>{{story.title}}</h4>
                <p>{{story.description}}</p>
            </story>
            <br/>

            <!--Because createStory() is defined on the MainCtrl it is avalaible to be called from the view by ng-click-->
            <a class="btn btn-primary" ng-click="main.createStory()">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>

</body>

</html>